.taskProgress {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.taskStatus {
  display: flex;
  flex-direction: row;
  align-items: center;

  font-weight: bold;

  gap: 0.5rem;
}

.taskStatus > span {
  color: var(--gray-200);
  font-size: 0.75rem;

  background: var(--gray-500);
  padding: 0.125rem 0.5rem;
  border-radius: 1rem;
}

.taskCreated {
  color: var(--blue-500);
  font-size: 0.875rem;
}

.taskDone {
  color: var(--purple-500);
  font-size: 0.875rem;
}